# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual env
.venv/
venv/

# Env secrets
.env

# PyInstaller
build/
dist/

# IDE / OS
.vscode/
.idea/
.cursor/
Thumbs.db
.DS_Store

# DB (не заливать базу с реальными данными)
# *.sqlite3

# Chat logs
*.txt

# App logs
logs/

# DB backups
backups/
dump.sql
*.dump
logs/
*.log
